.container {
    display: flex;
    flex-direction: column;
}

/* .video {
  display: flex;
  width: 100vw;
  z-index: -9998;
} */

.logoPrincipal img {

  width: 750px;
  height: 750px;

  z-index: 9999;
  display: block;
  margin:  0 auto;


  /* margin-top: -120px; */

}