.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100vw;
    height: 150px;
    left: 0px;
    top: 0px;

    background: #FAF0EF;
}


.logo  {
    height: 200px;
    margin-top: -25px;
}

.toggle {
    display: none;
}

.logo_mobile {
    display: none;
}

.options {

    display: flex;

    padding-top: 55px;

    white-space: nowrap;
    cursor: pointer;

}

.options a {

padding: 10px;
align-items: flex-end;
font-size: 18px;
line-height: 23px;

color: #D59594;
transition: color 2s;
}

.options a:hover {
color: #b1807f
}

.icons-wrapper {
margin-left: 50px;

}

.icons-wrapper a {
padding: 5px;
transition: color 2s;
}

.icons-wrapper a:hover {
color: #b1807f;

}

.icons-wrapper a:last-child {
    padding-right: 20px;
}

.icons {
margin-right: 7px;
transition: color 2s;
}

.icons:hover  {
color:#b1807f;
}


@media (max-width : 831px) {
    .menu-wrapper {
      flex-direction: column;
      height: 450px;
    }

    .logo {
        display: none;
        /* visibility: hidden; */
    }
    .mobile_assets {
        display: flex;
        justify-content: space-around;
    }
    .toggle {
        display: flex;
        width: 25px;
        height: 25px;
        margin-right: 30px;
        
    }
    .logo_mobile {
        display: flex;
        justify-content: flex-end;
        margin-right: 50px;
    }

    .options {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 0;
        white-space: nowrap;
        margin-top: 0;

    }
    .options a {
    align-items: center;
    display: block;
    margin:  0 auto;
    
    font-size: 20px
    }
    .icons-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        margin-left: 25px;
    }
    #toggle:checked+.options a {
        display: block;
      }
    
  }